@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    /* z-index: 100; */
}

.navbar a {
    font-size: 18px;
    color:white ;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #310100;

}

.home {
    height: 100vh;
    background: linear-gradient(90deg, #7B474F 30%, #310100 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;    
}

.home-content {
    order: 1;
    max-width: 50%;
    margin-right: 20px;
    color:white;
    text-align: left;
}

.home-content h1 {
    font-size: 40px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 30px;
    color: #310100;
    -webkit-text-stroke: .5px #ffff;
}

.home-content p {
    font-size: 15px;
    margin-top: 20px;
}
.home-sci {
    margin: 15px -10px 40px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #310100;
    border-radius: 50%;
    font-size: 20px;
    color: #310100;
    text-decoration: none;
    margin-left: 12px;
    transition: 0.4s;
}

.home-sci a:hover {
    background: #310100;
    color: white;
    border-color: white;
    box-shadow: 0 0 10px;
}

.btn {
    padding: 12px 35px;
    background: #310100;
    border-radius: 40px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0 0 10px white;
    transition: 0.4s;
}

.btn:hover {
    box-shadow: none;
}

.cv {
    overflow: hidden;
}