@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    /* z-index: 100; */
}

.navbar a {
    font-size: 18px;
    color:aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: aqua;

}

.home {
    height: 100vh;
    background: linear-gradient(90deg, purple 30%, brown 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;    
}

.home-image {
    width: 400px;
    height: 400px;
    background: green;
    order: 2;
}

.home-content {
    order: 1;
    max-width: 50%;
    margin-right: 20px;
    color:white;
    text-align: left;
}

.home-content h1 {
    font-size: 40px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 30px;
    color: blueviolet;
    -webkit-text-stroke: .5px #ffff;
}